<html>
  <head>
    <title> Hi! </title>
  </head>
  
  <body>
    Hi! <br>
    Last update: <p id="last_update_label"> 14 billion BCE </p> <br>
    STATE1: <p id="state_label_1"> loading.... </p> <br>
    STATE2: <p id="state_label_2"> loading.... </p> <br>
  
    <script>
        
        var timeout = 500;

        var httpGet = function(url, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    callback(xmlHttp.response);
                }
            }
            xmlHttp.open("GET", url, true);
            xmlHttp.send(null);
        }

        // primitive socket: Loop back to start after timeout
        var updateLabel = function(content) {
            jsonData = JSON.parse(content)
            document.getElementById("state_label_1").innerHTML = jsonData["state1"];
            document.getElementById("state_label_2").innerHTML = jsonData["state2"];
            document.getElementById("last_update_label").innerHTML = jsonData["lastUpdate"];
            setTimeout(start, timeout);
        }

        var start = function() {
            httpGet("/getData", updateLabel);
        }

        start();

    </script>

  </body>
</html>
